/*
1em = 16px

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Outfit", sans-serif; }

html {
  font-size: 62.5%; }
  @media (max-width: 95.25em) {
    html {
      font-size: 62.5%; } }
  @media (max-width: 75em) {
    html {
      font-size: 58%; } }
  @media (max-width: 63em) {
    html {
      font-size: 56%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 48em) {
    html {
      font-size: 47%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 40%; } }
  @media (max-width: 29em) {
    html {
      font-size: 40%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden; }

main {
  display: flex; }

.content {
  display: grid;
  grid-template-columns: 65% 35%; }
  @media (max-width: 48em) {
    .content {
      grid-template-columns: 1fr; } }

img,
svg {
  cursor: pointer; }

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg); }
  20%,
  60% {
    transform: rotate(15deg); }
  40%,
  80% {
    transform: rotate(-15deg); } }

.heading-primary {
  font-size: 2rem; }

.header {
  margin: 2rem, 0;
  display: flex;
  align-items: center;
  width: 100%; }
  .header__logo {
    width: 3rem;
    height: 3rem;
    padding: 0 2rem; }
    @media (max-width: 29em) {
      .header__logo {
        width: 4rem;
        height: 4rem; } }
  .header .logo-name {
    font-size: 3rem;
    font-weight: bold;
    padding: 0 7rem; }
    @media (max-width: 63em) {
      .header .logo-name {
        padding: 0 7rem; } }
    @media (max-width: 29em) {
      .header .logo-name {
        padding: 0 2rem; } }
  .header__search {
    height: 100%;
    width: 40%;
    justify-content: start;
    position: relative;
    align-content: center;
    background-color: #FFFFFF;
    display: flex;
    padding: 1rem 2rem;
    border-radius: 3rem;
    color: #151522;
    font-size: 1.2rem; }
    @media (max-width: 63em) {
      .header__search {
        width: 32%; } }
    .header__search__icon {
      padding-right: 1rem;
      font-size: 1.5rem; }
    .header__search__input {
      width: 100%;
      border: none; }
      .header__search__input:active, .header__search__input:focus {
        border: none;
        outline: none; }
  .header__add-div {
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: auto;
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 100%;
    color: #FFFFFF;
    background-color: #151522; }
  .header__notification-icon {
    padding: 0 0.5rem;
    font-size: 3rem; }
    .header__notification-icon:hover {
      animation-name: shake;
      animation-timing-function: ease-in-out;
      animation-duration: 0.5s;
      animation-iteration-count: 2;
      animation-delay: 0.5s; }
  .header__notification-div {
    position: relative;
    cursor: pointer; }
  .header .notification-dot {
    cursor: pointer;
    display: block;
    z-index: 100;
    position: absolute;
    background-color: #eb5833;
    height: 10px;
    top: 0;
    border-radius: 50%;
    right: 10px;
    width: 10px; }
    @media (max-width: 75em) {
      .header .notification-dot {
        height: 0.8rem;
        width: 0.8rem;
        right: 9px;
        top: 2px; } }
    @media (max-width: 48em) {
      .header .notification-dot {
        height: 0.9rem;
        width: 0.9rem;
        right: 0.8rem;
        top: 2px; } }
  .header__profile-photo {
    margin: 0 1rem 0 2rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%; }
    @media (max-width: 56.25em) {
      .header__profile-photo {
        display: none; } }
  .header__username {
    font-size: 2rem;
    font-weight: bold;
    padding-right: 3rem; }
    @media (max-width: 29em) {
      .header__username {
        display: none; } }

.search-bar {
  width: 100%;
  padding: 10px 15px;
  padding-left: 40px;
  /* Spacing for the icon */
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
  transition: all 0.3s ease; }

.navigation {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 7rem;
  margin-right: 3rem; }
  @media (max-width: 63em) {
    .navigation {
      margin-right: 1rem; } }
  .navigation:first-child {
    margin-top: 4rem; }
  .navigation__profile-icon {
    margin: 1.5rem 0rem;
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 100%;
    color: rgba(21, 21, 34, 0.5);
    transition: all 0.2s; }
  .navigation__profile-icon:hover {
    padding: 0.4rem;
    transform: scale(1.5);
    background-color: #151522;
    stroke: rgba(255, 255, 255, 0.8); }

.projects {
  height: 90vh;
  width: 100%;
  background-color: #FFFFFF;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  margin-top: 1rem; }
  .projects__heading {
    padding: 2rem 5rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.7); }
    .projects__heading__h2 {
      font-size: 2.4rem; }
    .projects__heading__h3 {
      font-size: 1.7rem;
      margin-left: auto; }
    .projects__heading__row2 {
      margin: 0 5rem;
      display: flex;
      align-items: center; }
      .projects__heading__row2__element {
        padding-left: 2rem; }
        .projects__heading__row2__element__number {
          font-size: 1.7rem;
          font-weight: 900;
          color: black;
          display: block; }
          @media (max-width: 63em) {
            .projects__heading__row2__element__number {
              font-size: 2rem; } }
        .projects__heading__row2__element__content {
          font-size: 1.2rem;
          font-weight: 600;
          color: rgba(0, 0, 0, 0.5); }
      .projects__heading__row2__circle {
        margin-top: 2.5rem;
        margin-left: 2rem;
        height: 0.8rem;
        width: 0.8rem;
        border: 1px solid black;
        border-radius: 100%; }
        @media (max-width: 56.25em) {
          .projects__heading__row2__circle {
            display: none; } }
      .projects__heading__row2__icon__1 {
        margin: 0 1rem;
        font-size: 2rem;
        color: black;
        stroke-width: 10px;
        margin-left: auto; }
      .projects__heading__row2__icon__2 {
        font-size: 2rem;
        color: black; }
    .projects__heading__row2__element:first-child {
      padding-left: 0; }

.projects__cards {
  margin-top: 4rem;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0 5rem 0rem 0rem;
  padding-left: 5rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  height: 65vh;
  overflow-y: scroll; }
  @media (max-width: 95.25em) {
    .projects__cards {
      grid-template-columns: 1fr 1fr; } }
  @media (max-width: 63em) {
    .projects__cards {
      grid-template-columns: 1fr; } }
  @media (max-width: 56.25em) {
    .projects__cards {
      height: 69rem;
      grid-template-columns: 1fr 1fr;
      padding: 0 1rem 0 1rem; } }
  @media (max-width: 48em) {
    .projects__cards {
      height: 76rem; } }
  @media (max-width: 37.5em) {
    .projects__cards {
      height: 90rem; } }
  @media (max-width: 29em) {
    .projects__cards {
      grid-template-columns: 1fr; } }
  .projects__cards::-webkit-scrollbar {
    display: none; }
  .projects__cards__card {
    padding: 1rem 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
    margin: 0 0 3rem 1rem;
    height: 25rem;
    width: 25rem;
    border-radius: 4rem;
    place-self: center;
    cursor: pointer;
    position: relative;
    transition: all 0.3s; }
    @media (max-width: 95.25em) {
      .projects__cards__card {
        height: 27rem;
        width: 27rem; } }
    @media (max-width: 63em) {
      .projects__cards__card {
        height: 27rem;
        width: 27rem; } }
    @media (max-width: 56.25em) {
      .projects__cards__card {
        height: 25rem;
        width: 25rem; } }
    @media (max-width: 48em) {
      .projects__cards__card {
        height: 30rem;
        width: 30rem; } }
    .projects__cards__card::after {
      content: "";
      height: 0.3rem;
      width: 50%;
      position: absolute;
      left: 50%;
      background-color: #3dbbe5;
      transform: translateX(-48%);
      bottom: -2rem;
      border-radius: 50rem;
      opacity: 0;
      transition: all 0.3s; }
    .projects__cards__card::before {
      content: "";
      height: 0.3rem;
      width: 75%;
      position: absolute;
      background-color: #3dbbe5;
      opacity: 0;
      left: 50%;
      transform: translateX(-48%);
      bottom: -10px;
      border-radius: 50rem;
      transition: all 0.3s; }
    .projects__cards__card:hover::after, .projects__cards__card:hover::before {
      opacity: 0.5; }
    .projects__cards__card .projects__cards__card__row {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: center; }
      .projects__cards__card .projects__cards__card__row .projects__cards__card__row__date {
        font-weight: 700;
        color: rgba(0, 0, 0, 0.5); }
        @media (max-width: 48em) {
          .projects__cards__card .projects__cards__card__row .projects__cards__card__row__date {
            font-size: 1.5rem; } }
      .projects__cards__card .projects__cards__card__row .projects__cards__card__row__icon {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        cursor: pointer; }
        .projects__cards__card .projects__cards__card__row .projects__cards__card__row__icon__1 {
          background-color: #000000;
          height: 0.4rem;
          width: 0.4rem;
          border-radius: 50%; }
          @media (max-width: 48em) {
            .projects__cards__card .projects__cards__card__row .projects__cards__card__row__icon__1 {
              height: 0.5rem;
              width: 0.5rem; } }
    .projects__cards__card .projects__cards__card__main-heading {
      text-align: center;
      margin-top: 2rem;
      font-size: 1.7rem;
      color: rgba(0, 0, 0, 0.8); }
      @media (max-width: 48em) {
        .projects__cards__card .projects__cards__card__main-heading {
          font-size: 2.5rem; } }
    .projects__cards__card .projects__cards__card__sub-heading {
      text-align: center;
      margin-top: 0.5rem;
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 2rem; }
      @media (max-width: 48em) {
        .projects__cards__card .projects__cards__card__sub-heading {
          font-size: 1.7rem; } }
    .projects__cards__card .projects__cards__card__progress-tittle {
      font-weight: bold;
      font-size: 1.2rem;
      color: rgba(0, 0, 0, 0.8);
      margin: 0.5rem 0; }
      @media (max-width: 48em) {
        .projects__cards__card .projects__cards__card__progress-tittle {
          font-size: 1.5rem;
          margin: 1rem 0; } }
    .projects__cards__card .projects__cards__card__progress {
      height: 0.5rem;
      background-color: #dddddddd;
      border-radius: 10px; }
      @media (max-width: 48em) {
        .projects__cards__card .projects__cards__card__progress {
          height: 0.7rem; } }
      .projects__cards__card .projects__cards__card__progress__container {
        height: 100%;
        border-radius: 10px;
        background-color: #3dbbe5;
        width: 90%; }
    .projects__cards__card .projects__cards__card__progress-amount {
      margin-left: auto;
      padding: 0.5rem 0;
      font-weight: bold;
      font-size: 1.1rem;
      color: rgba(0, 0, 0, 0.8); }
    .projects__cards__card .projects__cards__card__border {
      width: inherit;
      margin-left: -1.5rem;
      margin: 1.6rem 0;
      border-bottom: 0.2rem solid rgba(172, 170, 170, 0.1); }
      @media (max-width: 95.25em) {
        .projects__cards__card .projects__cards__card__border {
          margin-left: -1.4rem; } }
      @media (max-width: 75em) {
        .projects__cards__card .projects__cards__card__border {
          margin-left: -1.7rem; } }
      @media (max-width: 63em) {
        .projects__cards__card .projects__cards__card__border {
          margin-left: -1.8rem; } }
      @media (max-width: 56.25em) {
        .projects__cards__card .projects__cards__card__border {
          margin-left: -1.5rem; } }
      @media (max-width: 48em) {
        .projects__cards__card .projects__cards__card__border {
          margin-left: -1.8rem; } }
    .projects__cards__card .projects__cards__card__extras {
      display: flex;
      margin: 1.5rem 0;
      text-align: center;
      align-items: center;
      justify-content: center; }
      .projects__cards__card .projects__cards__card__extras__image {
        display: flex; }
        .projects__cards__card .projects__cards__card__extras__image__1, .projects__cards__card .projects__cards__card__extras__image__2 {
          border: 1px solid #FFFFFF;
          height: 2rem;
          width: 2rem;
          border-radius: 50%; }
          @media (max-width: 48em) {
            .projects__cards__card .projects__cards__card__extras__image__1, .projects__cards__card .projects__cards__card__extras__image__2 {
              height: 3rem;
              width: 3rem; } }
        .projects__cards__card .projects__cards__card__extras__image__2 {
          margin-left: -2px; }
      .projects__cards__card .projects__cards__card__extras__add-div {
        margin: 0 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 0.4rem;
        background-color: #3dbbe5;
        border-radius: 50%;
        font-size: 2rem; }
        .projects__cards__card .projects__cards__card__extras__add-div__icon {
          width: 1.5rem;
          height: 1.5rem;
          stroke: white; }
          @media (max-width: 48em) {
            .projects__cards__card .projects__cards__card__extras__add-div__icon {
              height: 2.2rem;
              width: 2.2rem; } }
      .projects__cards__card .projects__cards__card__extras__timelimit {
        height: 100%;
        text-align: center;
        margin-left: auto;
        padding: 1rem 2rem;
        border-radius: 3rem;
        background-color: rgba(62, 187, 229, 0.14);
        color: #3dbbe5;
        font-weight: 900;
        cursor: pointer;
        stroke-width: 10px; }
        @media (max-width: 48em) {
          .projects__cards__card .projects__cards__card__extras__timelimit {
            font-size: 1.5rem; } }
  .projects__cards__card1 {
    padding: 1rem 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
    margin: 0 0 3rem 1rem;
    height: 25rem;
    width: 25rem;
    border-radius: 4rem;
    place-self: center;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    background-color: #FDE5CC; }
    @media (max-width: 95.25em) {
      .projects__cards__card1 {
        height: 27rem;
        width: 27rem; } }
    @media (max-width: 63em) {
      .projects__cards__card1 {
        height: 27rem;
        width: 27rem; } }
    @media (max-width: 56.25em) {
      .projects__cards__card1 {
        height: 25rem;
        width: 25rem; } }
    @media (max-width: 48em) {
      .projects__cards__card1 {
        height: 30rem;
        width: 30rem; } }
    .projects__cards__card1::after {
      content: "";
      height: 0.3rem;
      width: 50%;
      position: absolute;
      left: 50%;
      background-color: #f1703d;
      transform: translateX(-48%);
      bottom: -2rem;
      border-radius: 50rem;
      opacity: 0;
      transition: all 0.3s; }
    .projects__cards__card1::before {
      content: "";
      height: 0.3rem;
      width: 75%;
      position: absolute;
      background-color: #f1703d;
      opacity: 0;
      left: 50%;
      transform: translateX(-48%);
      bottom: -10px;
      border-radius: 50rem;
      transition: all 0.3s; }
    .projects__cards__card1:hover::after, .projects__cards__card1:hover::before {
      opacity: 0.5; }
    .projects__cards__card1 .projects__cards__card__row {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: center; }
      .projects__cards__card1 .projects__cards__card__row .projects__cards__card__row__date {
        font-weight: 700;
        color: rgba(0, 0, 0, 0.5); }
        @media (max-width: 48em) {
          .projects__cards__card1 .projects__cards__card__row .projects__cards__card__row__date {
            font-size: 1.5rem; } }
      .projects__cards__card1 .projects__cards__card__row .projects__cards__card__row__icon {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        cursor: pointer; }
        .projects__cards__card1 .projects__cards__card__row .projects__cards__card__row__icon__1 {
          background-color: #000000;
          height: 0.4rem;
          width: 0.4rem;
          border-radius: 50%; }
          @media (max-width: 48em) {
            .projects__cards__card1 .projects__cards__card__row .projects__cards__card__row__icon__1 {
              height: 0.5rem;
              width: 0.5rem; } }
    .projects__cards__card1 .projects__cards__card__main-heading {
      text-align: center;
      margin-top: 2rem;
      font-size: 1.7rem;
      color: rgba(0, 0, 0, 0.8); }
      @media (max-width: 48em) {
        .projects__cards__card1 .projects__cards__card__main-heading {
          font-size: 2.5rem; } }
    .projects__cards__card1 .projects__cards__card__sub-heading {
      text-align: center;
      margin-top: 0.5rem;
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 2rem; }
      @media (max-width: 48em) {
        .projects__cards__card1 .projects__cards__card__sub-heading {
          font-size: 1.7rem; } }
    .projects__cards__card1 .projects__cards__card__progress-tittle {
      font-weight: bold;
      font-size: 1.2rem;
      color: rgba(0, 0, 0, 0.8);
      margin: 0.5rem 0; }
      @media (max-width: 48em) {
        .projects__cards__card1 .projects__cards__card__progress-tittle {
          font-size: 1.5rem;
          margin: 1rem 0; } }
    .projects__cards__card1 .projects__cards__card__progress {
      height: 0.5rem;
      background-color: #ffffff;
      border-radius: 10px; }
      @media (max-width: 48em) {
        .projects__cards__card1 .projects__cards__card__progress {
          height: 0.7rem; } }
      .projects__cards__card1 .projects__cards__card__progress__container {
        height: 100%;
        border-radius: 10px;
        background-color: #f1703d;
        width: 30%; }
    .projects__cards__card1 .projects__cards__card__progress-amount {
      margin-left: auto;
      padding: 0.5rem 0;
      font-weight: bold;
      font-size: 1.1rem;
      color: rgba(0, 0, 0, 0.8); }
    .projects__cards__card1 .projects__cards__card__border {
      width: inherit;
      margin-left: -1.5rem;
      margin: 1.6rem 0;
      border-bottom: 0.2rem solid rgba(172, 170, 170, 0.1); }
      @media (max-width: 95.25em) {
        .projects__cards__card1 .projects__cards__card__border {
          margin-left: -1.4rem; } }
      @media (max-width: 75em) {
        .projects__cards__card1 .projects__cards__card__border {
          margin-left: -1.7rem; } }
      @media (max-width: 63em) {
        .projects__cards__card1 .projects__cards__card__border {
          margin-left: -1.8rem; } }
      @media (max-width: 56.25em) {
        .projects__cards__card1 .projects__cards__card__border {
          margin-left: -1.5rem; } }
      @media (max-width: 48em) {
        .projects__cards__card1 .projects__cards__card__border {
          margin-left: -1.8rem; } }
    .projects__cards__card1 .projects__cards__card__extras {
      display: flex;
      margin: 1.5rem 0;
      text-align: center;
      align-items: center;
      justify-content: center; }
      .projects__cards__card1 .projects__cards__card__extras__image {
        display: flex; }
        .projects__cards__card1 .projects__cards__card__extras__image__1, .projects__cards__card1 .projects__cards__card__extras__image__2 {
          border: 1px solid #FFFFFF;
          height: 2rem;
          width: 2rem;
          border-radius: 50%; }
          @media (max-width: 48em) {
            .projects__cards__card1 .projects__cards__card__extras__image__1, .projects__cards__card1 .projects__cards__card__extras__image__2 {
              height: 3rem;
              width: 3rem; } }
        .projects__cards__card1 .projects__cards__card__extras__image__2 {
          margin-left: -2px; }
      .projects__cards__card1 .projects__cards__card__extras__add-div {
        margin: 0 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 0.4rem;
        background-color: #f1703d;
        border-radius: 50%;
        font-size: 2rem; }
        .projects__cards__card1 .projects__cards__card__extras__add-div__icon {
          width: 1.5rem;
          height: 1.5rem;
          stroke: white; }
          @media (max-width: 48em) {
            .projects__cards__card1 .projects__cards__card__extras__add-div__icon {
              height: 2.2rem;
              width: 2.2rem; } }
      .projects__cards__card1 .projects__cards__card__extras__timelimit {
        height: 100%;
        text-align: center;
        margin-left: auto;
        padding: 1rem 2rem;
        border-radius: 3rem;
        background-color: #ffffff;
        color: #f1703d;
        font-weight: 900;
        cursor: pointer;
        stroke-width: 10px; }
        @media (max-width: 48em) {
          .projects__cards__card1 .projects__cards__card__extras__timelimit {
            font-size: 1.5rem; } }
  .projects__cards__card2 {
    padding: 1rem 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
    margin: 0 0 3rem 1rem;
    height: 25rem;
    width: 25rem;
    border-radius: 4rem;
    place-self: center;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    background-color: #B4F1CE; }
    @media (max-width: 95.25em) {
      .projects__cards__card2 {
        height: 27rem;
        width: 27rem; } }
    @media (max-width: 63em) {
      .projects__cards__card2 {
        height: 27rem;
        width: 27rem; } }
    @media (max-width: 56.25em) {
      .projects__cards__card2 {
        height: 25rem;
        width: 25rem; } }
    @media (max-width: 48em) {
      .projects__cards__card2 {
        height: 30rem;
        width: 30rem; } }
    .projects__cards__card2::after {
      content: "";
      height: 0.3rem;
      width: 50%;
      position: absolute;
      left: 50%;
      background-color: #14c75a;
      transform: translateX(-48%);
      bottom: -2rem;
      border-radius: 50rem;
      opacity: 0;
      transition: all 0.3s; }
    .projects__cards__card2::before {
      content: "";
      height: 0.3rem;
      width: 75%;
      position: absolute;
      background-color: #14c75a;
      opacity: 0;
      left: 50%;
      transform: translateX(-48%);
      bottom: -10px;
      border-radius: 50rem;
      transition: all 0.3s; }
    .projects__cards__card2:hover::after, .projects__cards__card2:hover::before {
      opacity: 0.5; }
    .projects__cards__card2 .projects__cards__card__row {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: center; }
      .projects__cards__card2 .projects__cards__card__row .projects__cards__card__row__date {
        font-weight: 700;
        color: rgba(0, 0, 0, 0.5); }
        @media (max-width: 48em) {
          .projects__cards__card2 .projects__cards__card__row .projects__cards__card__row__date {
            font-size: 1.5rem; } }
      .projects__cards__card2 .projects__cards__card__row .projects__cards__card__row__icon {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        cursor: pointer; }
        .projects__cards__card2 .projects__cards__card__row .projects__cards__card__row__icon__1 {
          background-color: #000000;
          height: 0.4rem;
          width: 0.4rem;
          border-radius: 50%; }
          @media (max-width: 48em) {
            .projects__cards__card2 .projects__cards__card__row .projects__cards__card__row__icon__1 {
              height: 0.5rem;
              width: 0.5rem; } }
    .projects__cards__card2 .projects__cards__card__main-heading {
      text-align: center;
      margin-top: 2rem;
      font-size: 1.7rem;
      color: rgba(0, 0, 0, 0.8); }
      @media (max-width: 48em) {
        .projects__cards__card2 .projects__cards__card__main-heading {
          font-size: 2.5rem; } }
    .projects__cards__card2 .projects__cards__card__sub-heading {
      text-align: center;
      margin-top: 0.5rem;
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 2rem; }
      @media (max-width: 48em) {
        .projects__cards__card2 .projects__cards__card__sub-heading {
          font-size: 1.7rem; } }
    .projects__cards__card2 .projects__cards__card__progress-tittle {
      font-weight: bold;
      font-size: 1.2rem;
      color: rgba(0, 0, 0, 0.8);
      margin: 0.5rem 0; }
      @media (max-width: 48em) {
        .projects__cards__card2 .projects__cards__card__progress-tittle {
          font-size: 1.5rem;
          margin: 1rem 0; } }
    .projects__cards__card2 .projects__cards__card__progress {
      height: 0.5rem;
      background-color: #ffffff;
      border-radius: 10px; }
      @media (max-width: 48em) {
        .projects__cards__card2 .projects__cards__card__progress {
          height: 0.7rem; } }
      .projects__cards__card2 .projects__cards__card__progress__container {
        height: 100%;
        border-radius: 10px;
        background-color: #14c75a;
        width: 50%; }
    .projects__cards__card2 .projects__cards__card__progress-amount {
      margin-left: auto;
      padding: 0.5rem 0;
      font-weight: bold;
      font-size: 1.1rem;
      color: rgba(0, 0, 0, 0.8); }
    .projects__cards__card2 .projects__cards__card__border {
      width: inherit;
      margin-left: -1.5rem;
      margin: 1.6rem 0;
      border-bottom: 0.2rem solid rgba(172, 170, 170, 0.1); }
      @media (max-width: 95.25em) {
        .projects__cards__card2 .projects__cards__card__border {
          margin-left: -1.4rem; } }
      @media (max-width: 75em) {
        .projects__cards__card2 .projects__cards__card__border {
          margin-left: -1.7rem; } }
      @media (max-width: 63em) {
        .projects__cards__card2 .projects__cards__card__border {
          margin-left: -1.8rem; } }
      @media (max-width: 56.25em) {
        .projects__cards__card2 .projects__cards__card__border {
          margin-left: -1.5rem; } }
      @media (max-width: 48em) {
        .projects__cards__card2 .projects__cards__card__border {
          margin-left: -1.8rem; } }
    .projects__cards__card2 .projects__cards__card__extras {
      display: flex;
      margin: 1.5rem 0;
      text-align: center;
      align-items: center;
      justify-content: center; }
      .projects__cards__card2 .projects__cards__card__extras__image {
        display: flex; }
        .projects__cards__card2 .projects__cards__card__extras__image__1, .projects__cards__card2 .projects__cards__card__extras__image__2 {
          border: 1px solid #FFFFFF;
          height: 2rem;
          width: 2rem;
          border-radius: 50%; }
          @media (max-width: 48em) {
            .projects__cards__card2 .projects__cards__card__extras__image__1, .projects__cards__card2 .projects__cards__card__extras__image__2 {
              height: 3rem;
              width: 3rem; } }
        .projects__cards__card2 .projects__cards__card__extras__image__2 {
          margin-left: -2px; }
      .projects__cards__card2 .projects__cards__card__extras__add-div {
        margin: 0 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 0.4rem;
        background-color: #14c75a;
        border-radius: 50%;
        font-size: 2rem; }
        .projects__cards__card2 .projects__cards__card__extras__add-div__icon {
          width: 1.5rem;
          height: 1.5rem;
          stroke: white; }
          @media (max-width: 48em) {
            .projects__cards__card2 .projects__cards__card__extras__add-div__icon {
              height: 2.2rem;
              width: 2.2rem; } }
      .projects__cards__card2 .projects__cards__card__extras__timelimit {
        height: 100%;
        text-align: center;
        margin-left: auto;
        padding: 1rem 2rem;
        border-radius: 3rem;
        background-color: #ffffff;
        color: #14c75a;
        font-weight: 900;
        cursor: pointer;
        stroke-width: 10px; }
        @media (max-width: 48em) {
          .projects__cards__card2 .projects__cards__card__extras__timelimit {
            font-size: 1.5rem; } }
  .projects__cards__card3 {
    padding: 1rem 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
    margin: 0 0 3rem 1rem;
    height: 25rem;
    width: 25rem;
    border-radius: 4rem;
    place-self: center;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    background-color: #FFD3E2; }
    @media (max-width: 95.25em) {
      .projects__cards__card3 {
        height: 27rem;
        width: 27rem; } }
    @media (max-width: 63em) {
      .projects__cards__card3 {
        height: 27rem;
        width: 27rem; } }
    @media (max-width: 56.25em) {
      .projects__cards__card3 {
        height: 25rem;
        width: 25rem; } }
    @media (max-width: 48em) {
      .projects__cards__card3 {
        height: 30rem;
        width: 30rem; } }
    .projects__cards__card3::after {
      content: "";
      height: 0.3rem;
      width: 50%;
      position: absolute;
      left: 50%;
      background-color: #fd71ac;
      transform: translateX(-48%);
      bottom: -2rem;
      border-radius: 50rem;
      opacity: 0;
      transition: all 0.3s; }
    .projects__cards__card3::before {
      content: "";
      height: 0.3rem;
      width: 75%;
      position: absolute;
      background-color: #fd71ac;
      opacity: 0;
      left: 50%;
      transform: translateX(-48%);
      bottom: -10px;
      border-radius: 50rem;
      transition: all 0.3s; }
    .projects__cards__card3:hover::after, .projects__cards__card3:hover::before {
      opacity: 0.5; }
    .projects__cards__card3 .projects__cards__card__row {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: center; }
      .projects__cards__card3 .projects__cards__card__row .projects__cards__card__row__date {
        font-weight: 700;
        color: rgba(0, 0, 0, 0.5); }
        @media (max-width: 48em) {
          .projects__cards__card3 .projects__cards__card__row .projects__cards__card__row__date {
            font-size: 1.5rem; } }
      .projects__cards__card3 .projects__cards__card__row .projects__cards__card__row__icon {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        cursor: pointer; }
        .projects__cards__card3 .projects__cards__card__row .projects__cards__card__row__icon__1 {
          background-color: #000000;
          height: 0.4rem;
          width: 0.4rem;
          border-radius: 50%; }
          @media (max-width: 48em) {
            .projects__cards__card3 .projects__cards__card__row .projects__cards__card__row__icon__1 {
              height: 0.5rem;
              width: 0.5rem; } }
    .projects__cards__card3 .projects__cards__card__main-heading {
      text-align: center;
      margin-top: 2rem;
      font-size: 1.7rem;
      color: rgba(0, 0, 0, 0.8); }
      @media (max-width: 48em) {
        .projects__cards__card3 .projects__cards__card__main-heading {
          font-size: 2.5rem; } }
    .projects__cards__card3 .projects__cards__card__sub-heading {
      text-align: center;
      margin-top: 0.5rem;
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 2rem; }
      @media (max-width: 48em) {
        .projects__cards__card3 .projects__cards__card__sub-heading {
          font-size: 1.7rem; } }
    .projects__cards__card3 .projects__cards__card__progress-tittle {
      font-weight: bold;
      font-size: 1.2rem;
      color: rgba(0, 0, 0, 0.8);
      margin: 0.5rem 0; }
      @media (max-width: 48em) {
        .projects__cards__card3 .projects__cards__card__progress-tittle {
          font-size: 1.5rem;
          margin: 1rem 0; } }
    .projects__cards__card3 .projects__cards__card__progress {
      height: 0.5rem;
      background-color: #ffffff;
      border-radius: 10px; }
      @media (max-width: 48em) {
        .projects__cards__card3 .projects__cards__card__progress {
          height: 0.7rem; } }
      .projects__cards__card3 .projects__cards__card__progress__container {
        height: 100%;
        border-radius: 10px;
        background-color: #fd71ac;
        width: 20%; }
    .projects__cards__card3 .projects__cards__card__progress-amount {
      margin-left: auto;
      padding: 0.5rem 0;
      font-weight: bold;
      font-size: 1.1rem;
      color: rgba(0, 0, 0, 0.8); }
    .projects__cards__card3 .projects__cards__card__border {
      width: inherit;
      margin-left: -1.5rem;
      margin: 1.6rem 0;
      border-bottom: 0.2rem solid rgba(172, 170, 170, 0.1); }
      @media (max-width: 95.25em) {
        .projects__cards__card3 .projects__cards__card__border {
          margin-left: -1.4rem; } }
      @media (max-width: 75em) {
        .projects__cards__card3 .projects__cards__card__border {
          margin-left: -1.7rem; } }
      @media (max-width: 63em) {
        .projects__cards__card3 .projects__cards__card__border {
          margin-left: -1.8rem; } }
      @media (max-width: 56.25em) {
        .projects__cards__card3 .projects__cards__card__border {
          margin-left: -1.5rem; } }
      @media (max-width: 48em) {
        .projects__cards__card3 .projects__cards__card__border {
          margin-left: -1.8rem; } }
    .projects__cards__card3 .projects__cards__card__extras {
      display: flex;
      margin: 1.5rem 0;
      text-align: center;
      align-items: center;
      justify-content: center; }
      .projects__cards__card3 .projects__cards__card__extras__image {
        display: flex; }
        .projects__cards__card3 .projects__cards__card__extras__image__1, .projects__cards__card3 .projects__cards__card__extras__image__2 {
          border: 1px solid #FFFFFF;
          height: 2rem;
          width: 2rem;
          border-radius: 50%; }
          @media (max-width: 48em) {
            .projects__cards__card3 .projects__cards__card__extras__image__1, .projects__cards__card3 .projects__cards__card__extras__image__2 {
              height: 3rem;
              width: 3rem; } }
        .projects__cards__card3 .projects__cards__card__extras__image__2 {
          margin-left: -2px; }
      .projects__cards__card3 .projects__cards__card__extras__add-div {
        margin: 0 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 0.4rem;
        background-color: #fd71ac;
        border-radius: 50%;
        font-size: 2rem; }
        .projects__cards__card3 .projects__cards__card__extras__add-div__icon {
          width: 1.5rem;
          height: 1.5rem;
          stroke: white; }
          @media (max-width: 48em) {
            .projects__cards__card3 .projects__cards__card__extras__add-div__icon {
              height: 2.2rem;
              width: 2.2rem; } }
      .projects__cards__card3 .projects__cards__card__extras__timelimit {
        height: 100%;
        text-align: center;
        margin-left: auto;
        padding: 1rem 2rem;
        border-radius: 3rem;
        background-color: #ffffff;
        color: #fd71ac;
        font-weight: 900;
        cursor: pointer;
        stroke-width: 10px; }
        @media (max-width: 48em) {
          .projects__cards__card3 .projects__cards__card__extras__timelimit {
            font-size: 1.5rem; } }

.temp {
  display: flex;
  width: 100%; }

.temp2 {
  justify-content: center;
  align-items: center; }

.clientMsg {
  height: 90vh;
  width: 100%;
  margin-top: 1rem; }
  .clientMsg__heading {
    padding: 4rem 2rem 2rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.7); }
    .clientMsg__heading__h2 {
      font-size: 2.4rem; }
    .clientMsg__heading__icons__1 {
      margin-left: auto;
      width: 1.8rem;
      stroke: rgba(0, 0, 0, 0.7);
      stroke-width: 2px; }
    .clientMsg__heading__icons__2 {
      width: 2rem;
      height: 3rem; }
  .clientMsg__border {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.141); }
  .clientMsg__message {
    display: flex;
    gap: 1.8rem;
    align-items: center;
    padding: 2rem 2rem;
    transition: all 0.1s;
    backface-visibility: hidden; }
    .clientMsg__message__img {
      border-radius: 50%;
      height: 5.5rem;
      width: 5.5rem; }
    .clientMsg__message__content {
      width: 100%; }
      .clientMsg__message__content__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem; }
        .clientMsg__message__content__header__name {
          font-size: 2rem;
          color: rgba(0, 0, 0, 0.7); }
        .clientMsg__message__content__header__star {
          cursor: pointer;
          font-size: 1rem;
          height: 2rem;
          width: 2rem; }
        .clientMsg__message__content__header__star:hover {
          fill: #000000; }
      .clientMsg__message__content__msg {
        font-size: 1.5rem;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.6); }
      .clientMsg__message__content__date {
        text-align: end;
        font-size: 1.2rem;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.4); }
    .clientMsg__message:hover {
      border-radius: 1rem;
      border-bottom: none;
      background-color: #FFFFFF;
      transform: translateY(0.5rem);
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }

.message {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 54rem;
  margin: 1rem; }
  .message::-webkit-scrollbar {
    display: none; }
  @media (max-width: 75em) {
    .message {
      height: 60rem; } }
  @media (max-width: 56.25em) {
    .message {
      height: 74rem; } }

.doto-icon {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  height: 2rem;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 2rem; }
  .doto-icon_1, .doto-icon_2 {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: #000000; }

.background {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #FFD3E2;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.porfolio {
  overflow: hidden;
  height: 95vh;
  width: 95vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0rem 0rem 0rem 3rem;
  padding-top: 2rem;
  background-color: #F3F6FD;
  border-radius: 4rem; }
  @media (max-width: 56.25em) {
    .porfolio {
      width: 100vw;
      height: 100vh; } }

ion-icon:hover {
  cursor: pointer; }

.content {
  width: 100%; }
