@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
// 0 - 600px:  Phone
// 600 - 900px:  Tablet
// 900 - 1200px:  Tablet Landscape
// 1200 - 1800px:  laptop
// 1800 + :  big screen
/*
1em = 16px

*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-dektop {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}

@mixin card-styles(
  $progress-bar-color: #3dbbe5,
  $add-icon-color: #3dbbe5,
  $button-back-color: rgba(62, 187, 229, 0.14),
  $percentage-val: 90%,
  $loading-style: #dddddddd
) {
  position: relative;
  transition: all 0.3s ease-in-out;

  &::after {
    content: "";
    transition: all 0.3s;
    width: 80%;
    height: 0.21rem;
    bottom: -1.5rem;
    left: 10%;
    position: absolute;
    background-color: transparent;
    // z-index: 9999;
    // display: none;
  }
  &::before {
    transition: all 0.3s;
    content: "";
    width: 60%;
    height: 0.2rem;
    bottom: -2.5rem;
    left: 20%;
    position: absolute;
    background-color: transparent;
    // display: none;
  }
  &:hover {
    cursor: pointer;
    &::after,
    &::before {
      background-color: $progress-bar-color;
    }
  }
  padding: 1rem 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
  border-radius: 4rem;

  .projects__cards__card__row {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .projects__cards__card__row__date {
      font-weight: 700;
      color: rgba(0, 0, 0, 0.5);
      @media (min-width: 48em) {
        font-size: 1.5rem;
      }
      @media (min-width: 75em) {
        font-size: 1rem;
      }
    }

    .projects__cards__card__row__icon {
      margin-left: auto;
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      cursor: pointer;

      &__1 {
        background-color: #000000;
        height: 0.4rem;
        width: 0.4rem;
        border-radius: 50%;
      }
    }
  }

  .projects__cards__card__main-heading {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.7rem;
    color: rgba(0, 0, 0, 0.8);
    @media (min-width: 48em) {
      font-size: 2rem;
    }
    @media (min-width: 62em) {
      font-size: 2.5rem;
    }
    @media (min-width: 75em) {
      font-size: 2rem;
    }
  }

  .projects__cards__card__sub-heading {
    text-align: center;
    margin-top: 0.5rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
    @media (min-width: 48em) {
      font-size: 1.5rem;
    }
    @media (min-width: 62em) {
      font-size: 1.5rem;
    }
    @media (min-width: 75em) {
      font-size: 1rem;
    }
  }

  .projects__cards__card__progress-tittle {
    font-weight: bold;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.8);
    margin: 0.5rem 0;
    @media (min-width: 48em) {
      font-size: 1.5rem;
    }
    @media (min-width: 62em) {
      font-size: 1.5rem;
    }
    @media (min-width: 75em) {
      font-size: 1.2rem;
    }
  }

  .projects__cards__card__progress {
    height: 0.5rem;
    background-color: $loading-style;
    border-radius: 10px;

    &__container {
      height: 100%;
      border-radius: 10px;
      background-color: $progress-bar-color;
      width: $percentage-val;
    }
  }

  .projects__cards__card__progress-amount {
    margin-left: auto;
    padding: 0.5rem 0;
    font-weight: bold;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.8);
    @media (min-width: 48em) {
      font-size: 1.5rem;
    }
    @media (min-width: 62em) {
      font-size: 1.5rem;
    }
    @media (min-width: 75em) {
      font-size: 1.2rem;
    }
  }

  .projects__cards__card__border {
    width: inherit;
    margin-left: -1.5rem;
    border-bottom: 0.2rem solid rgba(172, 170, 170, 0.1);
    @media (min-width: 48em) {
      font-size: 1.5rem;
    }
    @media (min-width: 75em) {
      font-size: 1.2rem;
    }
  }

  .projects__cards__card__extras {
    display: flex;
    margin: 1.5rem 0;
    text-align: center;
    align-items: center;
    justify-content: center;

    &__image {
      display: flex;
      &__1,
      &__2 {
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        @media (min-width: 48em) {
          width: 3.5rem;
          height: 3.5rem;
        }
        @media (min-width: 75em) {
          width: 2rem;
          height: 2rem;
        }
      }
      &__2 {
        margin-left: -2px;
        @media (min-width: 48em) {
          margin-left: -5px;
        }
        @media (min-width: 75em) {
          margin-left: -2px;
        }
      }
    }

    &__add-div {
      margin: 0 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      padding: 0.4rem;
      background-color: $add-icon-color;
      border-radius: 50%;
      font-size: 2rem;

      &__icon {
        width: 1.5rem;
        height: 1.5rem;
        stroke: white;
        @media (min-width: 48em) {
          width: 2.5rem;
          height: 2.5rem;
        }
        @media (min-width: 75em) {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }

    &__timelimit {
      height: 100%;
      text-align: center;
      margin-left: auto;
      padding: 1rem 2rem;
      border-radius: 3rem;
      background-color: $button-back-color;
      color: $add-icon-color;
      font-weight: 900;
      // font-size: 1rem;
      cursor: pointer;
      stroke-width: 10px;
      @media (min-width: 48em) {
        padding: 1rem 2.5rem;
        font-size: 1.5rem;
      }
      @media (min-width: 75em) {
        padding: 1rem 2rem;
        font-size: 1rem;
      }
    }
  }
}

// min-width
//
//
// 26em
// 48em
// 62em
// 75em
// 95em
