.projects__cards {
  display: grid;
  padding: 4rem 0rem;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  row-gap: 3rem;
  height: 43rem;
  overflow: scroll;
  ::-webkit-scrollbar {
    display: none;
  }
  position: relative;
  &__card {
    @include card-styles;
    
  }
  &__card1 {
    @include card-styles(#f1703d, #f1703d, rgba(241, 112, 61, 0.06), 30%);
    background-color: $color-orange;
  }
  &__card2 {
    @include card-styles(#14c75a, #14c75a, rgba(20, 199, 89, 0.006), 50%);
    background-color: $color-green;
  }
  &__card3 {
    @include card-styles(#fd71ac, #fd71ac, rgba(253, 113, 171, 0.06), 20%);
    background-color: $color-pink;
  }
}

.temp {
  display: flex;
  width: 100%;
}
