.projects__cards {
  margin-top: 4rem;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0 5rem 0rem 0rem;
  padding-left: 5rem;
  grid-template-columns: 1fr 1fr 1fr;
  @include respond(95.25) {
    grid-template-columns: 1fr 1fr;
    height: 65vh;
  }
  @include respond(75) {
    height: 67vh;
  }
  @include respond(63) {
    height: 70vh;
    grid-template-columns: 1fr;
  }
  @include respond(56.25) {
    grid-template-columns: 1fr 1fr;
    padding: 0 1rem 0 1rem;
  }
  @include respond(48) {
    // height: 76rem;
  }
  @include respond(37.5) {
    // height: 90rem;
  }
  @include respond(29) {
    grid-template-columns: 1fr;
  }
  gap: 2rem;
  height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
  &__card {
    @include card-styles;
  }
  &__card1 {
    @include card-styles(#f1703d, #f1703d, #ffffff, 30%, #ffffff);
    background-color: $color-orange;
  }
  &__card2 {
    @include card-styles(#14c75a, #14c75a, #ffffff, 50%, #ffffff);
    background-color: $color-green;
  }
  &__card3 {
    @include card-styles(#fd71ac, #fd71ac, #ffffff, 20%, #ffffff);
    background-color: $color-pink;
  }
}

.temp {
  // height: 100vh;
  display: flex;
  width: 100%;
}

.temp2 {
  height: 100vh;
  justify-content: center;
  align-items: center;
}
