.header {
  padding: 2rem, 0;
  display: flex;
  align-items: center;
  width: 100%;
  &__logo {
    width: 3rem;
    height: 3rem;
    padding: 0 2rem;
  }
  .logo-name {
    font-size: 3rem;
    font-weight: bold;
    padding: 0 7rem;
  }
  &__search {
    height: 100%;
    width: 25rem;
    justify-content: start;
    align-content: center;
    background-color: $color-white;
    display: flex;
    padding: 1rem 2rem;
    border-radius: 3rem;
    color: $color-black;
    font-size: 1.2rem;
    &__search-icon {
      padding-right: 1rem;
      font-size: 1.5rem;
    }
  }
  &__add-div {
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: auto;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 100%;
    color: $color-white;
    background-color: $color-black;
  }
  &__notification-icon {
    padding: 0 0.5rem;
    font-size: 3rem;
    border-right: 1px solid rgba($color: #000000, $alpha: 0.2);
  }
  &__notification-div {
    position: relative;
    cursor: pointer;
    
  }
  .notification-dot {
    cursor: pointer;
    display: block;
    z-index: 100;
    position: absolute;
    background-color: rgb(235, 88, 51);
    height: 10px;
    top: 0;
    border-radius: 50%;
    right: 10px;
    width: 10px;
  }
  &__profile-photo {
    margin: 0 1rem 0 2rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
  }
  &__username {
    font-size: 2.5rem;
    font-weight: bold;
  }
}