.porfolio {
  margin: 0 auto;
  padding: 0rem 0rem 0rem 3rem ;
  padding-top: 2rem;
  width: 90%;
  background-color: $color-white-faded;
  border-radius: 4rem;
}
ion-icon:hover {
  cursor: pointer;
}

.content{
  width: 100%;
}